@charset "UTF-8";
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* text colors */
  --accent-cl: #2196f3;
  --main-txt-cl: #757575;
  --secondary-txt-cl: #212121;
  --title-txt-cl: #fff;
  /* background colors */
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #2196f3;
  --dark-bg-cl: #2f303a;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  background: var(--main-bg-cl);
}

.container {
  /* outline: 1px solid red; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: var(--secondary-txt-cl);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  font-family: var(--main-font);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  font-family: inherit;
  color: var(--title-txt-cl);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;
  background-color: var(--accent-cl);
  cursor: pointer;
  text-align: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: var(--title-txt-cl);
  background-color: var(--accent-cl);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/* 
===============
Section header
===============
 */
.header {
  border-bottom: #ececec solid 1px;
}

.header__logo {
  margin-right: 93px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  position: relative;
  margin-right: 50px;
}
.header__item:last-of-type {
  margin-right: 0px;
}

.header__logo {
  color: var(--accent-cl);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.header__logo-black {
  color: #000;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__link:hover, .header__link:focus {
  color: var(--accent-cl);
}

.header__active-link {
  color: var(--accent-cl);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__active-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--accent-cl);
  height: 4px;
  border-radius: 2px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contact__item {
  margin-right: 40px;
}
.contact__item:last-child {
  margin-right: 0;
}

.contact__link {
  color: var(--main-txt-cl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-cl);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* 
===============
HERO
===============
 */
.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img/hero-bg.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  width: 696px;
  font-family: var(--main-font);
  color: var(--title-txt-cl);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 30px;
}

.hero__btn {
  color: var(--title-txt-cl);
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--accent-cl);
  margin: 0 auto;
  display: block;
  border: none;
  min-width: 200px;
  min-height: 50px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* modal form */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: scale(0.5) translate(-50%, -50%);
          transform: scale(0.5) translate(-50%, -50%);
}

.backdrop .modal-wrapper {
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
}

.modal-wrapper {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  border-radius: 4px;
  width: 528px;
  height: 581px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--main-bg-cl);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--accent-cl);
}

/* modal-wraper form */
.form-title {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-family: var(--main-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  color: var(--secondary-txt-cl);
}

.modal-wrapper-group,
.modal-message-group {
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.form-user {
  width: 100%;
  padding: 11px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-user:focus {
  border: 1px solid var(--accent-cl);
}
.form-user:focus + .modal-wrapper-icon {
  fill: var(--accent-cl);
}

.modal-wrapper-label {
  display: block;
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.42px;
  color: var(--main-txt-cl);
}

.modal-wrapper-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  fill: var(--secondary-txt-cl);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-message:focus {
  border-color: var(--accent-cl);
}

.modal-policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-policy-desc {
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
  color: var(--main-txt-cl);
}

.modal-policy-link {
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  color: var(--accent-cl);
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  outline: 2px solid var(--secondary-txt-cl);
  outline-offset: -2px;
  -webkit-transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox-icon {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .custom-checkbox {
  outline-color: var(--accent-cl);
  background-color: var(--accent-cl);
}

.checkbox:focus + .custom-checkbox {
  outline-color: var(--accent-cl);
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.modal-wrapper-btn {
  width: 200px;
  height: 50px;
  margin-left: 124px;
  margin-top: 30px;
  color: var(--title-txt-cl);
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* 
===============
секція про нас
===============
 */
.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: stretch; */
}

.about__title {
  color: var(--secondary-txt-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  /* justify-content: center; */
  margin-bottom: 10px;
}

.about__item {
  display: block;
  margin-right: 30px;
  width: 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__item:last-child {
  margin-right: 0;
}

.about__icon {
  width: 270px;
  height: 120px;
  /* padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;  */
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__text {
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: 0.42px;
}

/* 
===============
Features
===============
 */
.features {
  padding-bottom: 94px;
}

.features__title {
  color: var(--secondary-txt-cl);
  text-align: center;
  font-family: var(--main-font);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item {
  position: relative;
  margin-right: 30px;
}
.features__item:last-child {
  margin-right: 0;
}

.features__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: normal;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--title-txt-cl);
  background-color: rgba(47, 48, 58, 0.8);
}

/* 
===============
Team
===============
 */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team-title {
  color: var(--secondary-txt-cl);
  text-align: center;
  font-family: var(--main-font);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.member-about {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-bg-cl);
}

.member-title {
  margin-bottom: 10px;
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  color: #212121;
}

.member-position {
  margin-bottom: 16px;
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  color: var(--main-txt-cl);
}

.member-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.member-item {
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.member-item:last-child {
  margin-right: 0;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-bg-cl);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-cl);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--main-bg-cl);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 
===============
Clients
===============
 */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__title {
  color: var(--secondary-txt-cl);
  text-align: center;
  font-family: var(--main-font);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-cl);
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: var(--accent-cl);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__logo {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 
===============
Footer
===============
 */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-cl);
}

.footer-logo {
  display: block;
  margin-bottom: 28px;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  color: var(--accent-cl);
}

.main-address {
  color: var(--title-txt-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.42px;
}

.address-list {
  margin-top: 12px;
}

.address-item {
  margin-bottom: 12px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--main-font);
  font-weight: 400;
  letter-spacing: 0.42px;
  line-height: 1.14;
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover, .address-link:focus {
  color: var(--title-txt-cl);
}

.title-footer {
  color: var(--title-txt-cl);
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-content:not(:last-child) {
  margin-right: 70px;
}

.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icon {
  fill: var(--title-txt-cl);
}

.footer__logo-white {
  color: var(--title-txt-cl);
}

/* footer form */
.footer-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: transparent;
  color: var(--title-txt-cl);
  background: rgba(33, 150, 243, 0);
}

.form-btn-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.icon-send {
  margin-left: 10px;
}

.form-content {
  margin-left: 23px;
}

/* 
===============
Portfolio section
===============
 */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__btn {
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.48px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-txt-cl);
}
.filter__btn:hover, .filter__btn:focus {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter__item {
  margin-right: 8px;
}
.filter__item:last-child {
  margin-right: 0;
}

.filter__active-btn {
  color: var(--title-txt-cl);
  background-color: var(--accent-cl);
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__item {
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__item:nth-child(3n) {
  margin-right: 0;
}
.gallery__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.gallery__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__link:hover, .gallery__link:focus {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.gallery__overlay {
  position: relative;
  overflow: hidden;
}

.gallery__overlay-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.54px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  color: var(--title-txt-cl);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover .gallery__overlay-text,
.gallery__link:focus .gallery__overlay-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.gallery__title {
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  color: var(--secondary-txt-cl);
}

.gallery__text {
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.48px;
  color: var(--main-txt-cl);
}

.gallery__about {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}/*# sourceMappingURL=main.css.map */