:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* text colors */
  --accent-cl: #2196f3;
  --main-txt-cl: #757575;
  --secondary-txt-cl: #212121;
  --title-txt-cl: #fff;

  /* background colors */
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #2196f3;
  --dark-bg-cl: #2f303a;
}
